scripts/n8n-workflows/02-lead-enrichment-pipeline.json
{
  "name": "Gaqno – Lead Enrichment Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:4003/v1/leads"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Fetch recent leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst list = Array.isArray(data) ? data : (data?.data ?? data?.items ?? []);\nconst recent = list.filter(l => l && l.id).slice(0, 10);\nreturn recent.map(lead => ({\n  json: {\n    ...lead,\n    enrichedCompany: lead.company || '(enriched) ' + (lead.name || ''),\n    enrichedEmail: lead.email || ''\n  }\n}));"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Enrich leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://localhost:4003/v1/leads/{{ $json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company\": {{ JSON.stringify($json.enrichedCompany) }},\n  \"email\": {{ JSON.stringify($json.enrichedEmail) }}\n}"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Update lead in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      }
    },
    {
      "parameters": {
        "content": "To notify sales via WhatsApp: add an HTTP Request node calling Omnichannel POST /v1/conversations/:conversationId/messages with body { \"body\": \"New lead enriched: \" + lead name }.",
        "height": 100,
        "width": 380
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "Notify sales",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Every 15 minutes": {
      "main": [
        [{ "node": "Fetch recent leads", "type": "main", "index": 0 }]
      ]
    },
    "Fetch recent leads": {
      "main": [
        [{ "node": "Enrich leads", "type": "main", "index": 0 }]
      ]
    },
    "Enrich leads": {
      "main": [
        [{ "node": "Update lead in CRM", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
