scripts/n8n-workflows/03-order-to-cash-automation.json
{
  "name": "Gaqno – Order-to-Cash Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Every 30 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:4004/v1/orders"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "Fetch orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst list = Array.isArray(data) ? data : (data?.data ?? data?.items ?? []);\nconst confirmed = list.filter(o => o && o.status === 'confirmed');\nconst today = new Date().toISOString().split('T')[0];\nreturn confirmed.map(order => ({\n  json: {\n    orderId: order.id,\n    customerEmail: order.customerEmail,\n    customerName: order.customerName,\n    total: order.total,\n    transactionPayload: {\n      description: `Order ${order.id} - ${order.customerName || 'Customer'}`,\n      amount: Number(order.total) || 0,\n      type: 'income',\n      transaction_date: today,\n      status: 'a_pagar',\n      notes: `ERP order ${order.id}`\n    }\n  }\n}));"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Filter confirmed and build transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4005/v1/transactions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.transactionPayload) }}"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "Create financial transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      }
    },
    {
      "parameters": {
        "content": "To notify customer via WhatsApp: add a node that finds the conversation by customer phone/email and POSTs to Omnichannel /v1/conversations/:id/messages with order confirmation text.",
        "height": 100,
        "width": 420
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000005",
      "name": "Notify customer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Every 30 minutes": {
      "main": [
        [{ "node": "Fetch orders", "type": "main", "index": 0 }]
      ]
    },
    "Fetch orders": {
      "main": [
        [{ "node": "Filter confirmed and build transaction", "type": "main", "index": 0 }]
      ]
    },
    "Filter confirmed and build transaction": {
      "main": [
        [{ "node": "Create financial transaction", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
