scripts/n8n-workflows/04-payment-overdue-reminder.json
{
  "name": "Gaqno – Payment Overdue Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "d4e5f6a7-0004-4000-8000-000000000001",
      "name": "Daily at 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:4005/v1/transactions?startDate={{ $now.minus(90, 'days').toFormat('yyyy-MM-dd') }}&endDate={{ $now.toFormat('yyyy-MM-dd') }}"
      },
      "id": "d4e5f6a7-0004-4000-8000-000000000002",
      "name": "Fetch transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst list = Array.isArray(data) ? data : (data?.data ?? data?.items ?? []);\nconst today = new Date().toISOString().split('T')[0];\nconst overdue = list.filter(t => {\n  if (!t || t.type !== 'income') return false;\n  const status = t.status ?? t.transactionStatus;\n  const due = t.dueDate ?? t.due_date;\n  const dueStr = due ? (typeof due === 'string' ? due.split('T')[0] : due) : null;\n  return (status === 'a_pagar' || status === 'em_atraso') && dueStr && dueStr < today;\n});\nreturn overdue.map(t => ({ json: { ...t, reminderText: `Lembrete: pagamento em atraso - ${t.description || t.id} - R$ ${t.amount ?? t.value ?? ''}` } }));"
      },
      "id": "d4e5f6a7-0004-4000-8000-000000000003",
      "name": "Filter overdue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "content": "Add a node to send reminder: e.g. GET CRM contacts by assigned_to or description, then POST to Omnichannel /v1/conversations/:conversationId/messages with body { \"body\": $json.reminderText }. Or use Telegram/Slack webhook with $json.reminderText.",
        "height": 120,
        "width": 400
      },
      "id": "d4e5f6a7-0004-4000-8000-000000000004",
      "name": "Send reminder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [920, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"YOUR_CHAT_ID\",\n  \"text\": {{ JSON.stringify($json.reminderText) }}\n}"
      },
      "id": "d4e5f6a7-0004-4000-8000-000000000005",
      "name": "Telegram reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 320]
    }
  ],
  "connections": {
    "Daily at 9:00": {
      "main": [
        [{ "node": "Fetch transactions", "type": "main", "index": 0 }]
      ]
    },
    "Fetch transactions": {
      "main": [
        [{ "node": "Filter overdue", "type": "main", "index": 0 }]
      ]
    },
    "Filter overdue": {
      "main": [
        [{ "node": "Telegram reminder", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
