scripts/n8n-workflows/07-new-customer-welcome-sequence.json
{
  "name": "Gaqno – New Customer Welcome Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-customer-welcome",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-customer-welcome"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst contactId = body?.contactId ?? body?.customerId;\nconst conversationId = body?.conversationId;\nconst customerName = body?.customerName ?? body?.name ?? 'Cliente';\nreturn [{\n  json: {\n    contactId,\n    conversationId,\n    customerName,\n    welcomeText: `Olá ${customerName}! Bem-vindo(a). Como podemos ajudar?`,\n    followUpText: `Oi ${customerName}, passando para saber se precisa de algo. Estamos à disposição!`\n  }\n}];"
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000002",
      "name": "Prepare payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:4008/v1/conversations/{{ $json.conversationId }}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {{ JSON.stringify($json.welcomeText) }}\n}"
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000003",
      "name": "Send welcome WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
"credentials": {
          "httpHeaderAuth": {
            "name": "Gaqno JWT"
          }
        },
      "continueOnFail": true
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 3,
        "resume": "webhook"
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000004",
      "name": "Wait 3 days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:4008/v1/conversations/{{ $json.conversationId }}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {{ JSON.stringify($json.followUpText) }}\n}"
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000005",
      "name": "Send follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
"credentials": {
          "httpHeaderAuth": {
            "name": "Gaqno JWT"
          }
        },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4003/v1/interactions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contactId\": {{ JSON.stringify($json.contactId) }},\n  \"type\": \"whatsapp\",\n  \"summary\": \"Follow-up de boas-vindas enviado\"\n}"
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000006",
      "name": "Log interaction in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
"credentials": {
          "httpHeaderAuth": {
            "name": "Gaqno JWT"
          }
        },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true, \"contactId\": $json.contactId } }}"
      },
      "id": "a7b8c9d0-0007-4000-8000-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare payload", "type": "main", "index": 0 }]
      ]
    },
    "Prepare payload": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Send welcome WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send welcome WhatsApp": {
      "main": [
        [{ "node": "Wait 3 days", "type": "main", "index": 0 }]
      ]
    },
    "Wait 3 days": {
      "main": [
        [{ "node": "Send follow-up", "type": "main", "index": 0 }]
      ]
    },
    "Send follow-up": {
      "main": [
        [{ "node": "Log interaction in CRM", "type": "main", "index": 0 }]
      ]
    },
    "Log interaction in CRM": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
