scripts/n8n-workflows/08-ai-content-generation-pipeline.json
{
  "name": "Gaqno – AI Content Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-ai-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-ai-content"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst topic = body?.topic ?? body?.productName ?? 'produto';\nconst callbackUrl = body?.callbackUrl;\nconst systemPrompt = 'You are a social media copywriter. Write short, engaging post text in Portuguese (Brazil).';\nconst userPrompt = `Crie um texto para rede social sobre: ${topic}. Máximo 2 parágrafos.`;\nreturn [{\n  json: {\n    topic,\n    callbackUrl,\n    aiPayload: {\n      system_prompt: systemPrompt,\n      user_prompt: userPrompt,\n      temperature: 0.7,\n      max_tokens: 500\n    }\n  }\n}];"
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000002",
      "name": "Prepare AI request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4002/v1/ai/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.aiPayload) }}"
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000003",
      "name": "Generate content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev?.body ?? prev;\nconst text = body?.text ?? body?.content ?? body?.choices?.[0]?.message?.content ?? JSON.stringify(body);\nconst topic = $('Prepare AI request').first().json.topic;\nconst formatted = {\n  topic,\n  content: text,\n  forSocial: text.trim().replace(/\\n{2,}/g, '\\n\\n'),\n  generatedAt: new Date().toISOString()\n};\nconst callbackUrl = $('Prepare AI request').first().json.callbackUrl;\nreturn [{ json: { ...formatted, callbackUrl } }];"
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000004",
      "name": "Format for social",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-callback",
              "leftValue": "={{ $json.callbackUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000005",
      "name": "Has callback URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": {{ JSON.stringify($json.topic) }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"forSocial\": {{ JSON.stringify($json.forSocial) }},\n  \"generatedAt\": {{ JSON.stringify($json.generatedAt) }}\n}"
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000006",
      "name": "Deliver to callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"topic\": {{ JSON.stringify($json.topic) }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"forSocial\": {{ JSON.stringify($json.forSocial) }},\n  \"generatedAt\": {{ JSON.stringify($json.generatedAt) }}\n}"
      },
      "id": "b8c9d0e1-0008-4000-8000-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare AI request", "type": "main", "index": 0 }]
      ]
    },
    "Prepare AI request": {
      "main": [
        [{ "node": "Generate content", "type": "main", "index": 0 }]
      ]
    },
    "Generate content": {
      "main": [
        [{ "node": "Format for social", "type": "main", "index": 0 }]
      ]
    },
    "Format for social": {
      "main": [
        [{ "node": "Has callback URL?", "type": "main", "index": 0 }]
      ]
    },
    "Has callback URL?": {
      "main": [
        [{ "node": "Deliver to callback", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Deliver to callback": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
