scripts/n8n-workflows/10-pipedrive-to-crm-sync.json
{
  "name": "Gaqno – Pipedrive to CRM Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-pipedrive-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-pipedrive-sync"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nreturn [{\n  json: {\n    tenantId: body.tenantId,\n    provider: body.provider,\n    accessToken: body.accessToken,\n    apiDomain: body.apiDomain || 'api.pipedrive.com',\n    crmAuthToken: body.crmAuthToken,\n    crmBaseUrl: body.crmBaseUrl || 'http://localhost:4003'\n  }\n}];"
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000002",
      "name": "Extract params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $json.apiDomain }}/api/v1/persons?limit=100",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.accessToken }}" }
          ]
        }
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000003",
      "name": "Fetch Pipedrive persons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $('Extract params').item.json.apiDomain }}/api/v1/deals?limit=100",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Extract params').item.json.accessToken }}" }
          ]
        }
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000004",
      "name": "Fetch Pipedrive deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Extract params').first().json;\nconst personsRaw = $('Fetch Pipedrive persons').first().json;\nconst persons = personsRaw?.data ?? personsRaw ?? [];\n\nconst contactPayloads = (Array.isArray(persons) ? persons : []).map(p => ({\n  name: p.name || `${p.first_name || ''} ${p.last_name || ''}`.trim() || 'Unknown',\n  email: Array.isArray(p.email) ? (p.email[0]?.value || '') : (p.email || ''),\n  phone: Array.isArray(p.phone) ? (p.phone[0]?.value || '') : (p.phone || ''),\n  company: p.org_name || p.organization?.name || '',\n  pipedrivePersonId: p.id\n}));\n\nreturn contactPayloads.map(c => ({ json: { ...c, crmAuthToken: params.crmAuthToken, crmBaseUrl: params.crmBaseUrl } }));"
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000005",
      "name": "Map persons to contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crmBaseUrl }}/v1/contacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.name) }},\n  \"email\": {{ JSON.stringify($json.email) }},\n  \"phone\": {{ JSON.stringify($json.phone) }},\n  \"company\": {{ JSON.stringify($json.company) }}\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.crmAuthToken }}" }
          ]
        }
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000006",
      "name": "Create CRM contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Extract params').first().json;\nconst dealsRaw = $('Fetch Pipedrive deals').first().json;\nconst deals = dealsRaw?.data ?? dealsRaw ?? [];\n\nconst contactResults = $('Create CRM contacts').all().map(i => i.json);\n\nconst stageMap = {\n  'won': 'won',\n  'lost': 'lost',\n  'open': 'prospecting'\n};\n\nconst dealPayloads = (Array.isArray(deals) ? deals : []).map(d => {\n  const firstContact = contactResults[0];\n  const contactId = firstContact?.id || firstContact?.body?.id || '';\n  const stage = stageMap[d.status] || 'prospecting';\n  return {\n    name: d.title || 'Untitled deal',\n    contactId,\n    value: d.value || 0,\n    stage,\n    company: d.org_name || '',\n    crmAuthToken: params.crmAuthToken,\n    crmBaseUrl: params.crmBaseUrl\n  };\n});\n\nreturn dealPayloads.map(d => ({ json: d }));"
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000007",
      "name": "Map deals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crmBaseUrl }}/v1/deals",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.name) }},\n  \"contactId\": {{ JSON.stringify($json.contactId) }},\n  \"value\": {{ $json.value }},\n  \"stage\": {{ JSON.stringify($json.stage) }},\n  \"company\": {{ JSON.stringify($json.company) }}\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.crmAuthToken }}" }
          ]
        }
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000008",
      "name": "Create CRM deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const contacts = $('Create CRM contacts').all();\nconst deals = $('Create CRM deals').all();\nreturn [{\n  json: {\n    synced: true,\n    contactsProcessed: contacts.length,\n    dealsProcessed: deals.length\n  }\n}];"
      },
      "id": "c9d0e1f2-0010-4000-8000-000000000009",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract params", "type": "main", "index": 0 }]]
    },
    "Extract params": {
      "main": [
        [
          { "node": "Fetch Pipedrive persons", "type": "main", "index": 0 },
          { "node": "Fetch Pipedrive deals", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Pipedrive persons": {
      "main": [[{ "node": "Map persons to contacts", "type": "main", "index": 0 }]]
    },
    "Map persons to contacts": {
      "main": [[{ "node": "Create CRM contacts", "type": "main", "index": 0 }]]
    },
    "Create CRM contacts": {
      "main": [[{ "node": "Map deals", "type": "main", "index": 0 }]]
    },
    "Fetch Pipedrive deals": {
      "main": [[{ "node": "Map deals", "type": "main", "index": 0 }]]
    },
    "Map deals": {
      "main": [[{ "node": "Create CRM deals", "type": "main", "index": 0 }]]
    },
    "Create CRM deals": {
      "main": [[{ "node": "Summary", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-06T00:00:00.000Z",
  "versionId": "1"
}
