scripts/n8n-workflows/11-salesforce-to-crm-sync.json
{
  "name": "Gaqno – Salesforce to CRM Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-salesforce-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sf-sync-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-salesforce-sync"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst required = ['tenantId', 'accessToken', 'instanceUrl', 'crmAuthToken', 'crmBaseUrl'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length > 0) {\n  throw new Error('Missing required parameters: ' + missing.join(', '));\n}\nconst instanceUrl = body.instanceUrl.replace(/\\/+$/, '');\nconst crmBaseUrl = body.crmBaseUrl.replace(/\\/+$/, '');\nreturn [{\n  json: {\n    tenantId: body.tenantId,\n    accessToken: body.accessToken,\n    instanceUrl,\n    crmAuthToken: body.crmAuthToken,\n    crmBaseUrl,\n    correlationId: require('crypto').randomUUID(),\n    sfApiBase: instanceUrl + '/services/data/v59.0'\n  }\n}];"
      },
      "id": "sf-sync-0002",
      "name": "01_Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sfApiBase }}/query?q=SELECT+Id,Name,Email,Phone,Account.Name+FROM+Contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.accessToken }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "pagination": {
            "paginationMode": "responseContainsNextURL",
            "nextURL": "={{ $json.instanceUrl }}{{ $response.body.nextRecordsUrl }}",
            "paginationCompleteWhen": "other",
            "completeExpression": "={{ $response.body.done === true }}",
            "maxRequests": 50,
            "requestInterval": 200
          }
        }
      },
      "id": "sf-sync-0003",
      "name": "02_FetchContacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const params = $('01_Validate').first().json;\nconst pages = $('02_FetchContacts').all();\nconst allRecords = [];\nfor (const page of pages) {\n  const records = page.json?.records ?? [];\n  allRecords.push(...records);\n}\nconst items = allRecords.map(c => ({\n  externalId: c.Id,\n  externalSource: 'salesforce',\n  name: c.Name || 'Unknown',\n  email: c.Email || '',\n  phone: c.Phone || '',\n  company: c.Account?.Name || ''\n}));\nreturn [{ json: { ...params, contactItems: items, contactCount: items.length } }];"
      },
      "id": "sf-sync-0004",
      "name": "03_MapContacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crmBaseUrl }}/v1/integrations/sync/contacts/upsert-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.contactItems }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.crmAuthToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "sf-sync-0005",
      "name": "04_UpsertContacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const contactResults = $('04_UpsertContacts').first().json?.results ?? [];\nconst contactMap = {};\nfor (const r of contactResults) {\n  if (r.id) contactMap[r.externalId] = r.id;\n}\nreturn [{ json: { contactMap, contactResults } }];"
      },
      "id": "sf-sync-0006",
      "name": "05_BuildContactMap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('01_Validate').first().json.sfApiBase }}/query?q=SELECT+Id,FirstName,LastName,Email,Company,Status+FROM+Lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('01_Validate').first().json.accessToken }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "pagination": {
            "paginationMode": "responseContainsNextURL",
            "nextURL": "={{ $('01_Validate').first().json.instanceUrl }}{{ $response.body.nextRecordsUrl }}",
            "paginationCompleteWhen": "other",
            "completeExpression": "={{ $response.body.done === true }}",
            "maxRequests": 50,
            "requestInterval": 200
          }
        }
      },
      "id": "sf-sync-0007",
      "name": "06_FetchLeads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const params = $('01_Validate').first().json;\nconst pages = $('06_FetchLeads').all();\nconst allRecords = [];\nfor (const page of pages) {\n  const records = page.json?.records ?? [];\n  allRecords.push(...records);\n}\nconst SF_STATUS_MAP = {\n  'Open - Not Contacted': 'new',\n  'Working - Contacted': 'contacted',\n  'Closed - Converted': 'qualified',\n  'Closed - Not Converted': 'lost'\n};\nconst items = allRecords.map(l => ({\n  externalId: l.Id,\n  externalSource: 'salesforce',\n  name: ((l.FirstName || '') + ' ' + (l.LastName || '')).trim() || 'Unknown',\n  email: l.Email || '',\n  company: l.Company || '',\n  status: SF_STATUS_MAP[l.Status] || 'new'\n}));\nreturn [{ json: { ...params, leadItems: items, leadCount: items.length } }];"
      },
      "id": "sf-sync-0008",
      "name": "07_MapLeads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crmBaseUrl }}/v1/integrations/sync/leads/upsert-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.leadItems }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.crmAuthToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "sf-sync-0009",
      "name": "08_UpsertLeads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('01_Validate').first().json.sfApiBase }}/query?q=SELECT+Id,Name,Amount,StageName,Account.Name,(SELECT+ContactId+FROM+OpportunityContactRoles+WHERE+IsPrimary%3Dtrue+LIMIT+1)+FROM+Opportunity",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('01_Validate').first().json.accessToken }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "pagination": {
            "paginationMode": "responseContainsNextURL",
            "nextURL": "={{ $('01_Validate').first().json.instanceUrl }}{{ $response.body.nextRecordsUrl }}",
            "paginationCompleteWhen": "other",
            "completeExpression": "={{ $response.body.done === true }}",
            "maxRequests": 50,
            "requestInterval": 200
          }
        }
      },
      "id": "sf-sync-0010",
      "name": "09_FetchOpportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const params = $('01_Validate').first().json;\nconst pages = $('09_FetchOpportunities').all();\nconst allRecords = [];\nfor (const page of pages) {\n  const records = page.json?.records ?? [];\n  allRecords.push(...records);\n}\nconst contactMap = $('05_BuildContactMap').first().json.contactMap;\nconst STAGE_MAP = {\n  'Prospecting': 'prospecting',\n  'Qualification': 'qualification',\n  'Needs Analysis': 'qualification',\n  'Value Proposition': 'proposal',\n  'Id. Decision Makers': 'proposal',\n  'Perception Analysis': 'proposal',\n  'Proposal/Price Quote': 'proposal',\n  'Negotiation/Review': 'negotiation',\n  'Closed Won': 'won',\n  'Closed Lost': 'lost'\n};\nconst items = allRecords.map(o => {\n  const ocr = o.OpportunityContactRoles?.records?.[0];\n  return {\n    externalId: o.Id,\n    externalSource: 'salesforce',\n    name: o.Name || 'Untitled',\n    contactExternalId: ocr?.ContactId || '',\n    value: o.Amount || 0,\n    stage: STAGE_MAP[o.StageName] || 'prospecting',\n    company: o.Account?.Name || ''\n  };\n});\nreturn [{ json: { ...params, dealItems: items, dealCount: items.length } }];"
      },
      "id": "sf-sync-0011",
      "name": "10_MapDeals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.crmBaseUrl }}/v1/integrations/sync/deals/upsert-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.dealItems }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.crmAuthToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "sf-sync-0012",
      "name": "11_UpsertDeals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const params = $('01_Validate').first().json;\nconst contactResults = $('05_BuildContactMap').first().json.contactResults;\nconst leadResults = $('08_UpsertLeads').first().json?.results ?? [];\nconst dealResults = $('11_UpsertDeals').first().json?.results ?? [];\n\nfunction summarize(results) {\n  const s = { created: 0, updated: 0, skipped: 0, failed: 0 };\n  for (const r of results) { s[r.status] = (s[r.status] || 0) + 1; }\n  return s;\n}\n\nconst allResults = [...contactResults, ...leadResults, ...dealResults];\nconst errors = allResults\n  .filter(r => r.status === 'failed')\n  .map(r => ({ externalId: r.externalId, error: r.error }));\n\nconst summary = {\n  contacts: summarize(contactResults),\n  leads: summarize(leadResults),\n  deals: summarize(dealResults)\n};\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    tenantId: params.tenantId,\n    provider: 'salesforce',\n    correlationId: params.correlationId,\n    summary,\n    errors,\n    totalRecords: contactResults.length + leadResults.length + dealResults.length\n  }\n}];"
      },
      "id": "sf-sync-0013",
      "name": "12_Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('01_Validate').first().json.crmBaseUrl }}/v1/internal/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ eventType: 'crm.sync.completed', tenantId: $json.tenantId, correlationId: $json.correlationId, data: { provider: $json.provider, summary: $json.summary, errors: $json.errors } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('01_Validate').first().json.crmAuthToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "sf-sync-0014",
      "name": "13_NotifyCRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('12_Summary').first().json) }}"
      },
      "id": "sf-sync-0015",
      "name": "14_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "content": "## Salesforce → CRM Sync (Production)\n\n**Trigger:** CRM backend → POST /webhook/gaqno-salesforce-sync\n\n**Flow:**\n1. Validate input params (fail fast)\n2. Fetch all SF Contacts (paginated)\n3. Map & batch upsert contacts\n4. Build SF ContactId → CRM UUID map\n5. Fetch all SF Leads (paginated)\n6. Map & batch upsert leads\n7. Fetch all SF Opportunities with primary OCR\n8. Map deals using contact map\n9. Batch upsert deals\n10. Summary + notify CRM + respond\n\n**Required params:**\n- tenantId, accessToken, instanceUrl\n- crmAuthToken, crmBaseUrl",
        "width": 400,
        "height": 400
      },
      "id": "sf-sync-note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -160]
    },
    {
      "parameters": {
        "content": "## Pagination\n\nEach SF fetch uses n8n HTTP Request pagination with `responseContainsNextURL`.\nSalesforce returns `nextRecordsUrl` when there are more pages (2000 records per page default).\nAll pages are merged in the Map code node using `$('NodeName').all()`.",
        "width": 320,
        "height": 200
      },
      "id": "sf-sync-note-2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, -160]
    },
    {
      "parameters": {
        "content": "## Deal → Contact Mapping\n\nOpportunities are queried with OpportunityContactRoles subquery (IsPrimary=true).\nThe `05_BuildContactMap` node creates a `sfContactId → crmUuid` lookup from contact upsert results.\nDeals with unresolved contacts get `status: 'skipped'` in the CRM response.",
        "width": 320,
        "height": 200
      },
      "id": "sf-sync-note-3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2220, -160]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "01_Validate", "type": "main", "index": 0 }]]
    },
    "01_Validate": {
      "main": [[{ "node": "02_FetchContacts", "type": "main", "index": 0 }]]
    },
    "02_FetchContacts": {
      "main": [[{ "node": "03_MapContacts", "type": "main", "index": 0 }]]
    },
    "03_MapContacts": {
      "main": [[{ "node": "04_UpsertContacts", "type": "main", "index": 0 }]]
    },
    "04_UpsertContacts": {
      "main": [[{ "node": "05_BuildContactMap", "type": "main", "index": 0 }]]
    },
    "05_BuildContactMap": {
      "main": [[{ "node": "06_FetchLeads", "type": "main", "index": 0 }]]
    },
    "06_FetchLeads": {
      "main": [[{ "node": "07_MapLeads", "type": "main", "index": 0 }]]
    },
    "07_MapLeads": {
      "main": [[{ "node": "08_UpsertLeads", "type": "main", "index": 0 }]]
    },
    "08_UpsertLeads": {
      "main": [[{ "node": "09_FetchOpportunities", "type": "main", "index": 0 }]]
    },
    "09_FetchOpportunities": {
      "main": [[{ "node": "10_MapDeals", "type": "main", "index": 0 }]]
    },
    "10_MapDeals": {
      "main": [[{ "node": "11_UpsertDeals", "type": "main", "index": 0 }]]
    },
    "11_UpsertDeals": {
      "main": [[{ "node": "12_Summary", "type": "main", "index": 0 }]]
    },
    "12_Summary": {
      "main": [[{ "node": "13_NotifyCRM", "type": "main", "index": 0 }]]
    },
    "13_NotifyCRM": {
      "main": [[{ "node": "14_Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-27T00:00:00.000Z",
  "versionId": "3"
}
