scripts/n8n-workflows/13-auth-otp-flow.json
{
  "name": "Gaqno – OTP Authentication (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-auth-otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000001",
      "name": "Webhook Send OTP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-auth-otp"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst email = body?.email;\nconst phone = body?.phone;\nconst tenantId = body?.tenantId;\n\nif (!email || !phone) {\n  throw new Error('email and phone are required');\n}\n\nconst code = String(Math.floor(100000 + Math.random() * 900000));\nconst now = new Date();\nconst expiresAt = new Date(now.getTime() + 5 * 60 * 1000);\n\nreturn [{\n  json: {\n    email,\n    phone: phone.replace(/\\D/g, ''),\n    tenantId,\n    code,\n    expiresAt: expiresAt.toISOString(),\n    createdAt: now.toISOString()\n  }\n}];"
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000002",
      "name": "Generate OTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS otp_codes (\n  id SERIAL PRIMARY KEY,\n  email TEXT NOT NULL,\n  phone TEXT NOT NULL,\n  code TEXT NOT NULL,\n  expires_at TIMESTAMPTZ NOT NULL,\n  used BOOLEAN DEFAULT false,\n  created_at TIMESTAMPTZ DEFAULT now()\n);\nCREATE INDEX IF NOT EXISTS idx_otp_codes_email_used ON otp_codes (email, used);",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000003",
      "name": "Ensure OTP table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "name": "n8n Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO otp_codes (email, phone, code, expires_at) VALUES ('{{ $json.email }}', '{{ $json.phone }}', '{{ $json.code }}', '{{ $json.expiresAt }}') RETURNING id;",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000004",
      "name": "Store OTP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "name": "n8n Postgres"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "comercial@gaqno.com.br",
        "toEmail": "={{ $('Generate OTP').item.json.email }}",
        "subject": "Seu código de verificação gaqno",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 480px; margin: 0 auto; padding: 32px; background: #ffffff;\">\n  <div style=\"text-align: center; margin-bottom: 32px;\">\n    <h1 style=\"color: #111827; font-size: 24px; margin: 0;\">gaqno</h1>\n  </div>\n  <p style=\"color: #374151; font-size: 16px; line-height: 1.6;\">Olá,</p>\n  <p style=\"color: #374151; font-size: 16px; line-height: 1.6;\">Use o código abaixo para verificar sua identidade:</p>\n  <div style=\"text-align: center; margin: 32px 0;\">\n    <span style=\"display: inline-block; font-size: 36px; font-weight: 700; letter-spacing: 8px; color: #111827; background: #f3f4f6; padding: 16px 32px; border-radius: 12px;\">{{ $('Generate OTP').item.json.code }}</span>\n  </div>\n  <p style=\"color: #6b7280; font-size: 14px; line-height: 1.6;\">Este código expira em <strong>5 minutos</strong>.</p>\n  <p style=\"color: #6b7280; font-size: 14px; line-height: 1.6;\">Se você não solicitou este código, ignore este e-mail.</p>\n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 32px 0;\" />\n  <p style=\"color: #9ca3af; font-size: 12px; text-align: center;\">gaqno &mdash; Plataforma de gestão para PMEs</p>\n</div>",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000005",
      "name": "Send OTP Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1140, 180],
      "credentials": {
        "smtp": {
          "name": "Gaqno SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4008/v1/distribution/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $('Generate OTP').item.json.tenantId }}"
            },
            {
              "name": "x-user-id",
              "value": "system"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Generate OTP').item.json.phone }}\",\n  \"channelType\": \"whatsapp\",\n  \"content\": {\n    \"text\": \"*{{ $('Generate OTP').item.json.code }}* é seu código de verificação gaqno. Expira em 5 minutos. Não compartilhe este código.\"\n  }\n}"
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000006",
      "name": "Send OTP WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 420],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"expiresIn\": 300, \"message\": \"Código enviado por e-mail e WhatsApp\" } }}"
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000007",
      "name": "Respond OTP Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-auth-verify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000010",
      "name": "Webhook Verify OTP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 700],
      "webhookId": "gaqno-auth-verify"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst email = body?.email;\nconst code = body?.code;\n\nif (!email || !code) {\n  throw new Error('email and code are required');\n}\n\nreturn [{ json: { email, code } }];"
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000011",
      "name": "Parse verify input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, code, expires_at FROM otp_codes WHERE email = '{{ $json.email }}' AND used = false ORDER BY created_at DESC LIMIT 1;",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000012",
      "name": "Lookup OTP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 700],
      "credentials": {
        "postgres": {
          "name": "n8n Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse verify input').first().json;\nconst row = $input.first().json;\n\nif (!row || !row.id) {\n  return [{ json: { valid: false, error: 'Código não encontrado ou já utilizado', otpId: null } }];\n}\n\nconst now = new Date();\nconst expiresAt = new Date(row.expires_at);\n\nif (now > expiresAt) {\n  return [{ json: { valid: false, error: 'Código expirado', otpId: row.id } }];\n}\n\nif (row.code !== input.code) {\n  return [{ json: { valid: false, error: 'Código inválido', otpId: null } }];\n}\n\nreturn [{ json: { valid: true, error: null, otpId: row.id } }];"
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000013",
      "name": "Validate OTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "otp-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000014",
      "name": "Is valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE otp_codes SET used = true WHERE id = {{ $('Validate OTP').item.json.otpId }};",
        "options": {}
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000015",
      "name": "Mark OTP used",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 580],
      "credentials": {
        "postgres": {
          "name": "n8n Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"valid\": true, \"message\": \"Código verificado com sucesso\" } }}"
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000016",
      "name": "Respond success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"valid\": false, \"error\": $('Validate OTP').item.json.error } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "a7b8c9d0-0013-4000-8000-000000000017",
      "name": "Respond failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 820]
    }
  ],
  "connections": {
    "Webhook Send OTP": {
      "main": [
        [{ "node": "Generate OTP", "type": "main", "index": 0 }]
      ]
    },
    "Generate OTP": {
      "main": [
        [{ "node": "Ensure OTP table", "type": "main", "index": 0 }]
      ]
    },
    "Ensure OTP table": {
      "main": [
        [{ "node": "Store OTP", "type": "main", "index": 0 }]
      ]
    },
    "Store OTP": {
      "main": [
        [
          { "node": "Send OTP Email", "type": "main", "index": 0 },
          { "node": "Send OTP WhatsApp", "type": "main", "index": 0 },
          { "node": "Respond OTP Sent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send OTP Email": {
      "main": []
    },
    "Send OTP WhatsApp": {
      "main": []
    },
    "Webhook Verify OTP": {
      "main": [
        [{ "node": "Parse verify input", "type": "main", "index": 0 }]
      ]
    },
    "Parse verify input": {
      "main": [
        [{ "node": "Lookup OTP", "type": "main", "index": 0 }]
      ]
    },
    "Lookup OTP": {
      "main": [
        [{ "node": "Validate OTP", "type": "main", "index": 0 }]
      ]
    },
    "Validate OTP": {
      "main": [
        [{ "node": "Is valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is valid?": {
      "main": [
        [{ "node": "Mark OTP used", "type": "main", "index": 0 }],
        [{ "node": "Respond failure", "type": "main", "index": 0 }]
      ]
    },
    "Mark OTP used": {
      "main": [
        [{ "node": "Respond success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
