scripts/n8n-workflows/14-welcome-email.json
{
  "name": "Gaqno – Welcome Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-welcome-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7b8c9d0-0014-4000-8000-000000000001",
      "name": "Webhook Welcome",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-welcome-email"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst email = body?.email;\nconst name = body?.name;\n\nif (!email) {\n  throw new Error('email is required');\n}\n\nreturn [{ json: { email, name: name || 'usuário' } }];"
      },
      "id": "a7b8c9d0-0014-4000-8000-000000000002",
      "name": "Parse input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "comercial@gaqno.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "Bem-vindo à gaqno! 🎉",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 560px; margin: 0 auto; padding: 40px 32px; background: #ffffff;\">\n  <div style=\"text-align: center; margin-bottom: 40px;\">\n    <h1 style=\"color: #111827; font-size: 28px; margin: 0; font-weight: 700;\">gaqno</h1>\n  </div>\n  <h2 style=\"color: #111827; font-size: 22px; margin: 0 0 16px;\">Olá, {{ $json.name }}!</h2>\n  <p style=\"color: #374151; font-size: 16px; line-height: 1.7;\">Bem-vindo à <strong>gaqno</strong> — a plataforma completa de gestão para o seu negócio.</p>\n  <p style=\"color: #374151; font-size: 16px; line-height: 1.7;\">Sua conta foi criada com sucesso. Agora você tem acesso a:</p>\n  <ul style=\"color: #374151; font-size: 15px; line-height: 2; padding-left: 20px;\">\n    <li><strong>CRM</strong> — Gerencie seus contatos e oportunidades</li>\n    <li><strong>ERP</strong> — Controle estoque, pedidos e fornecedores</li>\n    <li><strong>Financeiro</strong> — Acompanhe receitas e despesas</li>\n    <li><strong>AI Studio</strong> — Crie conteúdo com inteligência artificial</li>\n    <li><strong>Omnichannel</strong> — Centralize sua comunicação</li>\n  </ul>\n  <div style=\"text-align: center; margin: 36px 0;\">\n    <a href=\"https://portal.gaqno.com.br/dashboard\" style=\"display: inline-block; background: #111827; color: #ffffff; font-size: 16px; font-weight: 600; padding: 14px 32px; border-radius: 8px; text-decoration: none;\">Acessar minha conta</a>\n  </div>\n  <p style=\"color: #6b7280; font-size: 14px; line-height: 1.6;\">Se tiver dúvidas, responda este e-mail — estamos aqui para ajudar.</p>\n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 32px 0;\" />\n  <p style=\"color: #9ca3af; font-size: 12px; text-align: center;\">gaqno &mdash; Plataforma de gestão para PMEs<br/>© {{ new Date().getFullYear() }} gaqno. Todos os direitos reservados.</p>\n</div>",
        "options": {}
      },
      "id": "a7b8c9d0-0014-4000-8000-000000000003",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "name": "Gaqno SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Welcome email sent\" } }}"
      },
      "id": "a7b8c9d0-0014-4000-8000-000000000004",
      "name": "Respond success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Welcome": {
      "main": [
        [{ "node": "Parse input", "type": "main", "index": 0 }]
      ]
    },
    "Parse input": {
      "main": [
        [{ "node": "Send Welcome Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [{ "node": "Respond success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
