scripts/n8n-workflows/15-reset-password-email.json
{
  "name": "Gaqno – Reset Password Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-reset-password-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7b8c9d0-0015-4000-8000-000000000001",
      "name": "Webhook Reset Password",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gaqno-reset-password-email"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst email = body?.email;\nconst name = body?.name;\nconst resetUrl = body?.resetUrl;\n\nif (!email || !resetUrl) {\n  throw new Error('email and resetUrl are required');\n}\n\nreturn [{ json: { email, name: name || 'usuário', resetUrl } }];"
      },
      "id": "a7b8c9d0-0015-4000-8000-000000000002",
      "name": "Parse input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "comercial@gaqno.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "Redefinição de senha – gaqno",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 560px; margin: 0 auto; padding: 40px 32px; background: #ffffff;\">\n  <div style=\"text-align: center; margin-bottom: 40px;\">\n    <h1 style=\"color: #111827; font-size: 28px; margin: 0; font-weight: 700;\">gaqno</h1>\n  </div>\n  <h2 style=\"color: #111827; font-size: 22px; margin: 0 0 16px;\">Redefinir senha</h2>\n  <p style=\"color: #374151; font-size: 16px; line-height: 1.7;\">Olá, <strong>{{ $json.name }}</strong>.</p>\n  <p style=\"color: #374151; font-size: 16px; line-height: 1.7;\">Recebemos uma solicitação para redefinir a senha da sua conta. Clique no botão abaixo para criar uma nova senha:</p>\n  <div style=\"text-align: center; margin: 36px 0;\">\n    <a href=\"{{ $json.resetUrl }}\" style=\"display: inline-block; background: #111827; color: #ffffff; font-size: 16px; font-weight: 600; padding: 14px 32px; border-radius: 8px; text-decoration: none;\">Redefinir minha senha</a>\n  </div>\n  <p style=\"color: #6b7280; font-size: 14px; line-height: 1.6;\">Este link expira em <strong>30 minutos</strong>.</p>\n  <p style=\"color: #6b7280; font-size: 14px; line-height: 1.6;\">Se você não solicitou a redefinição de senha, ignore este e-mail. Sua senha permanecerá inalterada.</p>\n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 32px 0;\" />\n  <p style=\"color: #9ca3af; font-size: 12px;\">Se o botão não funcionar, copie e cole o link abaixo no seu navegador:</p>\n  <p style=\"color: #9ca3af; font-size: 11px; word-break: break-all;\">{{ $json.resetUrl }}</p>\n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 24px 0;\" />\n  <p style=\"color: #9ca3af; font-size: 12px; text-align: center;\">gaqno &mdash; Plataforma de gestão para PMEs<br/>© {{ new Date().getFullYear() }} gaqno. Todos os direitos reservados.</p>\n</div>",
        "options": {}
      },
      "id": "a7b8c9d0-0015-4000-8000-000000000003",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "name": "Gaqno SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Reset password email sent\" } }}"
      },
      "id": "a7b8c9d0-0015-4000-8000-000000000004",
      "name": "Respond success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Reset Password": {
      "main": [
        [{ "node": "Parse input", "type": "main", "index": 0 }]
      ]
    },
    "Parse input": {
      "main": [
        [{ "node": "Send Reset Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Reset Email": {
      "main": [
        [{ "node": "Respond success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
