scripts/n8n-workflows/16-gaqno-notifications-hub.json
{
  "name": "Gaqno – Notifications Hub (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gaqno-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "hub-0016-webhook",
      "name": "Webhook Notify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "gaqno-notify"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.body ?? $input.first().json;\n\nconst TEMPLATE_TO_ACTION = {\n  welcome: \"NEW_ACCOUNT\",\n  reset_password: \"RESET_PASSWORD\",\n  otp_code: \"OTP_CODE\",\n};\n\nconst ACTION_GATES = {\n  RESET_PASSWORD: [\"email\"],\n  NEW_ACCOUNT: [\"email\", \"whatsapp\"],\n  USAGE_LIMIT: [\"email\", \"whatsapp\"],\n  ACCOUNT_UPDATE: [\"email\", \"whatsapp\"],\n  OTP_CODE: [\"email\", \"whatsapp\"],\n};\n\nlet action = raw?.action\n  ? String(raw.action)\n      .trim()\n      .toUpperCase()\n      .replace(/-/g, \"_\")\n  : \"\";\nif (!action && raw?.template) {\n  const key = String(raw.template).toLowerCase();\n  action = TEMPLATE_TO_ACTION[key] || \"\";\n}\nif (!action || !ACTION_GATES[action]) {\n  throw new Error(\"unknown or missing action (use RESET_PASSWORD, NEW_ACCOUNT, USAGE_LIMIT, ACCOUNT_UPDATE, OTP_CODE)\");\n}\n\nconst gateChannels = ACTION_GATES[action];\nconst email = raw?.email ? String(raw.email).trim() : \"\";\nconst phone = raw?.phone ? String(raw.phone).replace(/\\D/g, \"\") : \"\";\nconst tenantId = raw.tenantId != null ? String(raw.tenantId).trim() : \"\";\nconst tenantDomain = raw.tenantDomain != null\n  ? String(raw.tenantDomain).trim().toLowerCase()\n  : \"\";\nconst data = raw?.data && typeof raw.data === \"object\" ? raw.data : {};\n\nconst sendEmail = gateChannels.includes(\"email\") && Boolean(email);\nconst sendWhatsapp = gateChannels.includes(\"whatsapp\") && Boolean(phone);\n\nif (!sendEmail && !sendWhatsapp) {\n  throw new Error(\n    \"no reachable channel for action \" +\n      action +\n      \": provide email (required for email gate) and phone E.164 digits when WhatsApp is in gate\"\n  );\n}\n\nif (sendWhatsapp && !tenantDomain && !tenantId) {\n  throw new Error(\n    \"tenantDomain (hostname) or legacy tenantId is required when WhatsApp is in the gate\"\n  );\n}\n\nconst year = new Date().getFullYear();\nconst footer = `<p style=\"color:#9ca3af;font-size:12px;text-align:center;\">gaqno &mdash; Plataforma de gestão para PMEs<br/>© ${year} gaqno.</p>`;\nconst portalUrl = \"https://portal.gaqno.com.br\";\n\nlet subject = \"\";\nlet html = \"\";\nlet whatsappText = \"\";\n\nif (action === \"NEW_ACCOUNT\") {\n  const name = data.name ? String(data.name) : \"usuário\";\n  subject = \"Bem-vindo à gaqno!\";\n  html = `<div style=\"font-family:'Segoe UI',Tahoma,sans-serif;max-width:560px;margin:0 auto;padding:40px 32px;background:#fff;\"><div style=\"text-align:center;margin-bottom:40px;\"><h1 style=\"color:#111827;font-size:28px;margin:0;\">gaqno</h1></div><h2 style=\"color:#111827;font-size:22px;\">Olá, ${name}!</h2><p style=\"color:#374151;font-size:16px;line-height:1.7;\">Bem-vindo à <strong>gaqno</strong>.</p><p style=\"color:#374151;font-size:16px;\">Sua conta foi criada com sucesso.</p><div style=\"text-align:center;margin:36px 0;\"><a href=\"${portalUrl}/dashboard\" style=\"display:inline-block;background:#111827;color:#fff;font-size:16px;font-weight:600;padding:14px 32px;border-radius:8px;text-decoration:none;\">Acessar minha conta</a></div><hr style=\"border:none;border-top:1px solid #e5e7eb;margin:32px 0;\"/>${footer}</div>`;\n  whatsappText = `Olá, ${name}! Bem-vindo à gaqno. Acesse: ${portalUrl}/dashboard`;\n} else if (action === \"RESET_PASSWORD\") {\n  const name = data.name ? String(data.name) : \"usuário\";\n  const resetUrl = data.resetUrl ? String(data.resetUrl) : \"\";\n  if (!resetUrl) throw new Error(\"data.resetUrl is required for RESET_PASSWORD\");\n  subject = \"Redefinição de senha – gaqno\";\n  html = `<div style=\"font-family:'Segoe UI',Tahoma,sans-serif;max-width:560px;margin:0 auto;padding:40px 32px;\"><h1 style=\"color:#111827;text-align:center;\">gaqno</h1><h2>Redefinir senha</h2><p>Olá, <strong>${name}</strong>.</p><p>Clique para criar uma nova senha:</p><div style=\"text-align:center;margin:36px 0;\"><a href=\"${resetUrl}\" style=\"display:inline-block;background:#111827;color:#fff;padding:14px 32px;border-radius:8px;text-decoration:none;\">Redefinir minha senha</a></div><p style=\"color:#6b7280;font-size:14px;\">Link expira em 30 minutos.</p><p style=\"color:#9ca3af;font-size:11px;word-break:break-all;\">${resetUrl}</p><hr/>${footer}</div>`;\n  whatsappText = \"\";\n} else if (action === \"OTP_CODE\") {\n  const code = data.code ? String(data.code) : \"\";\n  if (!code) throw new Error(\"data.code is required for OTP_CODE\");\n  subject = \"Seu código de verificação gaqno\";\n  html = `<div style=\"font-family:'Segoe UI',sans-serif;max-width:480px;margin:0 auto;padding:32px;\"><h1 style=\"color:#111827;text-align:center;\">gaqno</h1><p>Use o código:</p><div style=\"text-align:center;margin:32px 0;\"><span style=\"font-size:36px;font-weight:700;letter-spacing:8px;background:#f3f4f6;padding:16px 32px;border-radius:12px;\">${code}</span></div><p style=\"color:#6b7280;font-size:14px;\">Expira em 5 minutos.</p>${footer}</div>`;\n  whatsappText = `*${code}* é seu código gaqno. Expira em 5 minutos. Não compartilhe.`;\n} else if (action === \"USAGE_LIMIT\") {\n  const name = data.name ? String(data.name) : \"usuário\";\n  const msg = data.message\n    ? String(data.message)\n    : data.detail\n      ? String(data.detail)\n      : \"\";\n  if (!msg) throw new Error(\"data.message or data.detail is required for USAGE_LIMIT\");\n  const resource = data.resource ? String(data.resource) : \"plano\";\n  subject = \"Limite de uso – gaqno\";\n  html = `<div style=\"font-family:'Segoe UI',sans-serif;max-width:560px;margin:0 auto;padding:32px;\"><h2 style=\"color:#111827;\">Limite de uso</h2><p style=\"color:#374151;\">Olá, <strong>${name}</strong>.</p><p style=\"color:#374151;white-space:pre-wrap;\">${msg.replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\")}</p><p style=\"color:#6b7280;font-size:14px;\">Recurso: ${resource.replace(/</g, \"&lt;\")}</p><p><a href=\"${portalUrl}/dashboard\">${portalUrl}/dashboard</a></p><hr/>${footer}</div>`;\n  whatsappText = `*Limite de uso gaqno*\\nOlá, ${name}. ${msg}`;\n} else if (action === \"ACCOUNT_UPDATE\") {\n  const name = data.name ? String(data.name) : \"usuário\";\n  const msg = data.message\n    ? String(data.message)\n    : data.changeSummary\n      ? String(data.changeSummary)\n      : \"\";\n  if (!msg) throw new Error(\"data.message or data.changeSummary is required for ACCOUNT_UPDATE\");\n  subject = \"Atualização na sua conta – gaqno\";\n  html = `<div style=\"font-family:'Segoe UI',sans-serif;max-width:560px;margin:0 auto;padding:32px;\"><h2 style=\"color:#111827;\">Conta atualizada</h2><p style=\"color:#374151;\">Olá, <strong>${name}</strong>.</p><p style=\"color:#374151;white-space:pre-wrap;\">${msg.replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\")}</p><p><a href=\"${portalUrl}/dashboard\">Abrir o painel</a></p><hr/>${footer}</div>`;\n  whatsappText = `*Conta gaqno atualizada*\\nOlá, ${name}. ${msg}`;\n}\n\nreturn [\n  {\n    json: {\n      sendEmail,\n      sendWhatsapp,\n      email,\n      phone,\n      tenantId,\n      tenantDomain,\n      subject,\n      html,\n      whatsappText,\n    },\n  },\n];\n"
      },
      "id": "hub-0016-parse",
      "name": "Parse template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-email",
              "leftValue": "={{ $json.sendEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "hub-0016-if-email",
      "name": "Send email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        280
      ]
    },
    {
      "parameters": {
        "fromEmail": "comercial@gaqno.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "hub-0016-smtp",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "smtp": {
          "name": "Gaqno SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-wa",
              "leftValue": "={{ $json.sendWhatsapp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "hub-0016-if-wa",
      "name": "Send WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gaqno.com.br/omnichannel/v1/distribution/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenantId }}"
            },
            {
              "name": "x-tenant-domain",
              "value": "={{ $json.tenantDomain }}"
            },
            {
              "name": "x-user-id",
              "value": "system"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.phone, channelType: 'whatsapp', content: { text: $json.whatsappText } }) }}"
      },
      "id": "hub-0016-wa",
      "name": "Publish WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Gaqno JWT"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notification dispatched\" } }}"
      },
      "id": "hub-0016-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Notify": {
      "main": [
        [
          {
            "node": "Parse template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse template": {
      "main": [
        [
          {
            "node": "Send email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send WhatsApp?": {
      "main": [
        [
          {
            "node": "Publish WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}